script(type='text/javascript', src='lib/jquery/jquery.js')

//Bootstrap
script(type='text/javascript', src='lib/bootstrap/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='lib/angular/angular.js')
script(type='text/javascript', src='lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='lib/angular-sanitize/angular-sanitize.js')

//Angular UI
script(type='text/javascript', src='lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='lib/angular-ui-utils/modules/route.js')

//Application Init
script(type='text/javascript', src='js/app.js')
script(type='text/javascript', src='js/config.js')
script(type='text/javascript', src='js/directives.js')
script(type='text/javascript', src='js/filters.js')

//Application Services
script(type='text/javascript', src='js/services/global.js')
script(type='text/javascript', src='js/services/articles.js')
script(type='text/javascript', src='js/services/mantras.js')

//Application Controllers
script(type='text/javascript', src='js/controllers/articles.js')
script(type='text/javascript', src='js/controllers/mantras.js')
script(type='text/javascript', src='js/controllers/index.js')
script(type='text/javascript', src='js/controllers/header.js')	
script(type='text/javascript', src='js/init.js')

//Livereload script rendered 
script(type='text/javascript', src='http://localhost:35729/livereload.js')
script(type='text/javascript')
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44342302-1', 'pradeepvarma.in');
  ga('send', 'pageview');

