head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="programming mantras tips knowledge ")
  meta(name="description", content="Programming Mantras -  Dispersing programming Mantras since like right now! ")

  link(href='/img/icons/favicon.png', rel='shortcut icon', type='image/x-icon')
  
  meta(property='fb:app_id', content='1409431959285026')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='Programming Mantras -  Dispersing programming Mantras since like right now! ')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='Programming Mantras')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='lib/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='css/common.css')

  link(rel='stylesheet', href='css/views/articles.css')
  link(rel='stylesheet', href='css/views/mantras.css')
  link(rel='stylesheet', href='css/views/mantras.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab', type='text/css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
