<section data-ng-controller="MantrasController" data-ng-init="find()">
	<ul class="mantras unstyled">
		<li data-ng-repeat="mantra in mantras">
			<dl class="dl-horizontal row-fluid">
				<dt class='pull-right'> {{mantra.author}}</dt>
				<dd class="span9 pull-left"><a data-ng-href="#!/mantras/{{mantra.title}}">{{mantra.heading}}</a></dd>
			</dl>
		</li>
	</ul>
	<h1 data-ng-hide="!mantras || mantras.length">No mantras yet. <br> Why don't you make one yourself?</h1>
</section>