<section data-ng-controller="MantrasController" data-ng-init="findOne()">
			
			<ul class="pager">
			  <li class="previous"><a href="#!/mantras">&larr; Back</a></li>
			  <!-- <li class="next"><a href="#!/mantras">Next &rarr;</a></li> -->
			</ul>

			<div class="row-fluid">
				<h2 class="">{{mantra.heading}}</h2>
				<h3 class='pull-right'> {{mantra.author}}</h3>
			</div>
			<div class="well well-small">
				<div ng-bind-html-unsafe="mantra.content"></div>
			</div>
			<!-- <ul class="pager">
			  <li class="previous"><a href="#!/mantras">&larr; Previous</a></li>
			  <li class="next"><a href="#!/mantras">Next &rarr;</a></li>
			</ul> -->
</section>