.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}


/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  margin-top: 41px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #4FCC25; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #4FCC25 0%, #C3D40B 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4FCC25), color-stop(100%,#C3D40B)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #4FCC25 0%,#C3D40B 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #4FCC25 0%,#C3D40B 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #4FCC25 0%,#C3D40B 100%); /* IE10+ */
  background: linear-gradient(45deg,  #4FCC25 0%,#C3D40B 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4FCC25', endColorstr='#C3D40B',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-family: 'Patua One', cursive;
  letter-spacing: 1px;
  line-height: 1;
}
.jumbotron h3 {
  font-family: 'Roboto Slab', serif;
  line-height: 1.25;
  margin-bottom: 20px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.content{
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.content p {
  font-family: 'Roboto Slab', serif;
}

.content li>i {
  margin-right: 0.2em;
}

.content h2{
  font-family: 'Patua One', cursive;
}

.content h3{
  font-family: 'Patua One', cursive;
}

.content dl{
  font-family: 'Patua One', cursive;
  font-size : 1.4em;
}