!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    header.navbar.navbar-fixed-top.navbar-inverse(data-ng-include="'views/header.html'")
    .jumbotron.masthead
        .row-fluid
          h1 Programming Mantras 
          h3 Dispersing programming gyan since like right now !
    section.content
      section.container
        block content
    include ../includes/foot
    a(href='https://bitbucket.org/deepster/mantras', target='_blank')
      img(style='position: absolute; top: 0; z-index:10000; right: 0; border: 0;', src='https://bitbucket.org/zgramana/bitbucket-ribbons/raw/988dffc5fbeb/png/bitbucket-ribbon-dark-gray.png', alt='Form me on Bitbucket')
